.DS_Store
system
install
image
index.php
config.php
controller/
!controller/extension/payment/khalti.php
language
!language/en-gb/extension/payment/khalti.php
model
!model/extension/payment/khalti.php
view
!view/image/payment/khalti-logo.png
!view/image/payment/khalti.png
!view/template/extension/payment/khalti_transaction.twig
!view/template/extension/payment/khalti.twig
catalog
!catalog/controller/extension/payment/khalti.php
!catalog/model/extension/payment/khalti.php
!catalog/view/theme/default/template/extension/payment/khalti.twig